<div style="width: 100%; max-width: 350px; margin: 50px auto; background: #fff;">



  <br>
  <br>

  <form>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="submitToDoForm($event)">Create</button>
      <br>
      <br>
      <input class="form-control" [(ngModel)]="content" id="content" [ngModelOptions]="{standalone: true}">
      <small id="contentHelp" class="form-text text-muted">Please Input ToDo Contents.</small>
    </div>
  </form>


  <accordion [closeOthers]="false">
    <div *ngFor="let content of contents">
      <accordion-group [heading]="content.getSubmitDate()" [isOpen]="'false'">
        <div class="row">
          <div class="content">
            <span class="content" style="cursor: pointer;" (click)="completeTask(content)">
              <i-feather name="circle"></i-feather>
            </span>
            <div class="content">{{content.getContent()}}</div>
          </div>
          <span (click)="deleteTask(content.getId())" style="cursor: pointer;" class="delete">
            <i-feather name="trash-2"></i-feather>
          </span>
        </div>
      </accordion-group>
    </div>
  </accordion>

  <div *ngIf="contents.length > maxPageSize">
    <pagination [boundaryLinks]="true" [totalItems]="contents.length" [(ngModel)]="currentPage"
      (pageChanged)="onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;" itemsPerPage="5">
    </pagination>
  </div>
</div>
